Source: argeo-whisper.cpp
Section: science
Priority: optional
Maintainer: Mathieu Baudier <mbaudier@argeo.org>
Standards-Version: 4.7.2
Vcs-Browser: https://git.djapps.eu/?p=pkg/ggml/sources/whisper.cpp;a=summary
Vcs-Git: https://git.djapps.eu/pkg/ggml/sources/whisper.cpp
Homepage: https://github.com/ggml-org/whisper.cpp
Build-Depends: debhelper-compat (= 13),
               cmake,
               clang,
               lld,
               llvm,
               libc++-dev,
               libsdl2-dev,
               argeo-libggml-dev,
               argeo-libllama-dev,
               pkgconf,
Rules-Requires-Root: no

Package: argeo-libwhisper1
Conflicts: libwhisper1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Inference of Whisper in pure C/C++ (shared library)
 The shared library provides the core of whisper.cpp
 speech-to-text capabilities using a Whisper model.

Package: argeo-whisper.cpp-cli
Conflicts: whisper.cpp
Architecture: any
Multi-Arch: same
Depends: argeo-libggml0-backend-cpu,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Inference of Whisper in pure C/C++ (CLI)
 A versatile tool giving command line access to most
 whisper-cpp capabilities.

Package: argeo-whisper.cpp-stream
Conflicts: whisper.cpp
Architecture: any
Multi-Arch: same
Depends: argeo-libggml0-backend-cpu,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Inference of Whisper in pure C/C++ (stream)
 Real-time speech-to-text of SDL sound input.
 The SDL sound input (typically a microphone) is
 transcribed as text to the standard output.

Package: argeo-whisper.cpp-talk-llama
Architecture: any
Multi-Arch: same
Depends: argeo-libggml0-backend-cpu,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Inference of Whisper in pure C/C++ (talk-llama)
 A tool allowing one to "talk" with a large language model,
 using llama.cpp.
 The SDL input (typically from a microphone) is translated
 into text by whisper.cpp and sent to llama.cpp for processing.

Package: argeo-libwhisper-dev
Conflicts: libwhisper-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: argeo-libwhisper1 (= ${binary:Version}),
         argeo-libggml-dev,
         ${misc:Depends}
Description: Inference of Whisper in pure C/C++ (development files)
 Development files for using whisper.cpp as a shared library
 in applications.
